extends ../layout

block content
  .page-header.col-xs-offset-2
      h3 Register your business
    form#signup-form.form-horizontal.multiple-form-group(method='POST')
      input(type='hidden', name='_csrf')
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='name') Name
        .col-xs-6.col-sm-5
          input#name.form-control(type='text', name='name', placeholder='Business name', autofocus='autofocus')
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='category') Category
        .col-xs-6.col-sm-5
          select#category.form-control(name='category')
            option Psychologist
            option Dentist
            option Vet
            option Lawyer
            option Doctor
            option Financial advisor
            option Plumber
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='city') City
        .col-xs-6.col-sm-5
          select#city.form-control(name='city')
            option Madrid
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='timetable') Timetable
        .col-xs-6.col-sm-5.col-md-8
          .row
            .col-xs-12.col-md-3
              .input-group.timetable
                span.input-group-addon From
                input.form-control(type='text', name='from[\'value\'][]', placeholder='09:00')
              .input-group.timetable
                span.input-group-addon To
                input.form-control(type='text', name='to[\'value\'][]', placeholder='13:00')
            .col-xs-8.col-md-3
              .input-group
                span.input-group-addon Days
                select.form-control(multiple='', name='days[\'value\'][]')
                  option Monday
                  option Tuesday
                  option Wednesday
                  option Thursday
                  option Friday
                  option Saturday
                  option Sunday
            .col-xs-4.col-md-5
              button.btn.btn-success.btn-add(type='button') +
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='duration') Duration
        .col-xs-6.col-sm-5
          .input-group
            input#duration.form-control(type='number', name='duration', placeholder='Appointment duration')
            span.input-group-addon Minutes
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='price') Price
        .col-xs-6.col-sm-5
          .input-group
            input#price.form-control(type='number', name='price', placeholder='Appointment price')
            span.input-group-addon €
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='email') Email
        .col-xs-6.col-sm-5
          input#email.form-control(type='email', name='email', placeholder='Email')
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='password') Password
        .col-xs-6.col-sm-5
          input#password.form-control(type='password', name='password', placeholder='Password')
      .form-group
        label.col-xs-offset-2.col-xs-2.col-sm-1.control-label(for='confirmPassword') Confirm
        .col-xs-6.col-sm-5
          input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Confirm Password')
      .form-group
        .col-xs-offset-4.col-sm-offset-3.col-xs-7
          button.btn.btn-primary(type='submit')
            span.ion-person-add
            | Register

